@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');



*{
    box-sizing:border-box;
    height:100%;
}
*{
    background-color:#e6ecf5;
}
/* .body{
    height: 100%;
} */
.screen-background{
    height:100%;
    text-align:center;

}
.screen-text h1{
    font-family: 'Arvo', serif;
    font-size:4.5vw;
    color:#2b3f5c;
    margin-bottom:0;

    
}
.screen-text p{
    font-family: 'Abel', sans-serif;
    color:#2b3f5c;
    margin-bottom:0;
}
/* .screen-background:after {
    content: "";
    display: table;
    clear: both;
  } */

.column{
    float:left;
    width:50%;
    padding:10px;
    height:100%;
    justify-content: center;

}

/* navigation bar   */

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: red; /* Black*/
    overflow-x: hidden; /* disable horizontal scroll*/
    /* padding-top: 60px; Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    display:flex;

  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px ;
    /* text-decoration: none; */
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s;
    flex-direction:c;

  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 17px;
    cursor: pointer;
    background-color:#2b3f5c;
    color: white;
    padding-bottom:20px;
    padding-top:10px;
    border-radius:10px;
    height:100%;
    font-family: 'Abel', sans-serif;

  }
  
  .openbtn:hover {
    border: 5px solid #2b3f5c;
    color: #2b3f5c;
    background-color:transparent;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  

/* end navigation bar   */

/* social media icons*/
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height:40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-github {
    background: black;
    color: white;
  }

  